<%= render 'shared/errors', obj: @article  %>

<div class='row'>
  <div class='col col-10 offset-1'>
    <%= form_for @article do |f| %>
      <div class="form-group">
      </div>

      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :title %>
        </div>
        <div class="col">
          <%= f.text_field :title, class: "form-control",
                           placeholder: "Title of article", autofocus: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :description %><br/>
        </div>
        <div class="col">
          <%= f.text_area :description, rows: 10, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.submit class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>

    <div align="center">
      [ <%= link_to "Cancel request and return to articles listing",
                    articles_path %> ]
    </div>
  </div>
</div>
