<h2 align="center">Title: <%= @article.title %></h2>
<div class="card col col-8 offset-2 description">
  <% if @article.user %>
    <ul class="listing">
      <div class="row center">
        <div class="col-md-4 offset-4">
          <li>Created by:</li>
          <li><%= link_to gravatar_for(@article.user), user_path(@article.user) %></li>
          <li class="article-title">
            <%= link_to @article.user.username, user_path(@article.user) %></li>
          </li>
          <li>
            <small>
              <%= pluralize(@article.user.articles.count, "article") if @article.user.articles %>
            </small>
          </li>
        </div>
      </div>
    </ul>
  <% end %>
  <h4 class="center"><strong>Description:</strong></h4>
  <hr>
  <%= simple_format(@article.description) %>
  <div class="article-actions">
    <%= link_to "Edit this article", edit_article_path(@article),
                                       class: "btn btn-primary btn-sm" %>
    <%= link_to "Delete this article", article_path(@article), method: :delete,
                                       data: { confirm: "Are you sure you want 
                                       to delete the article?" },
                                       class: "btn btn-danger btn-sm" %>
    <%= link_to "Back to articles listing", articles_path,
                                       class: "btn btn-success btn-sm" %>
  </div>
</div>
